<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица умножения</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="table">
        <div v-for="i in 9">
            <span v-for="j in 9">
                &nbsp;
                {{ padWithZero(i * j) }}
            </span>
        </div>
    </div>

    <script>
        Vue.createApp({}).mount('#table')
    </script>
</body>
</html>