<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A & B</title>
    <script src="vue.js"></script>
</head>
<body>
   <div id="calc">
       a: <input type="number" v-model="a"><br>
       b: <input type="number" v-model="b"><br>

       a + b = {{ a + b }} <br>
       a - b = ??? <br>
       a * b = ??? <br>
       a / b = ??? <br>
   </div> 

   <script>
       Vue.createApp({
           data() {
               return {
                   a: 100,
                   b: 100,
               }
           }
       }).mount('#calc')
   </script>
</body>
</html>