<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Привет, кто-то</title>
    <script src="vue.js"></script>
</head>

<body>
    <div id="app">
        Привет, {{ username || defaultUsername }} !<br>
        <input v-model="username" placeholder="Введите имя">
        <input v-model="userSurname" placeholder="Введите фамилию">
    </div>

    <script>
        Vue.createApp({
            data() {
                return {
                    username: '',
                    defaultUsername: 'Кто-то'
                }
            }
        }).mount('#app')
    </script>
</body>

</html>