<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Календарь задач</title>
    <link rel="stylesheet" href="libs/uikit.css">
    <script src="libs/uikit.js"></script>
    <script src="libs/uikit-icons.js"></script>
    <script src="libs/vue.js"></script>
    <script src="libs/date-utils.js"></script>
    <style>
        .calendar-item {
            width: calc(100% / 7)
        }
    </style>
</head>
<body>
    <div id="app" class="uk-container uk-container-large">
        <calendar></calendar>
    </div>

    <template id="calendarTpl">
        <calendar-selector class="uk-margin-small"></calendar-selector>
        <div class="uk-flex uk-flex-wrap calendar">
            <div v-for="(_, i) in 7" class="calendar-item">{{weekday(i)}}</div>
            <div v-for="i in days" class="calendar-item">{{i}}</div>
        </div>
    </template>

    <template id="calendarSelectorTpl">
        <div class="uk-width-1-3">
            <button class="uk-margin-small-right" uk-icon="chevron-left" @click="prevMonth"></button>
            <span class="uk-text-bold uk-text-center uk-text-uppercase uk-width-1-6 uk-inline-block">{{getMonthTitle()}}</span>
            <button class="uk-margin-small-left" uk-icon="chevron-right" @click="nextMonth"></button>
        </div>
    </template>

    <script src="components/calendar-selector.js"></script>
    <script src="components/calendar.js"></script>
    <script src="app.js"></script>
</body>
</html>
