<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Календарь задач</title>
    <link rel="stylesheet" href="libs/uikit.css">
    <script src="libs/uikit.js"></script>
    <script src="libs/uikit-icons.js"></script>
    <script src="libs/vue.js"></script>
    <script src="libs/date-utils.js"></script>
    <style>
        .calendar-item {
            width: calc(100% / 7)
        }

        .show-all-tasks {
            position: absolute;
            top: 38px;
            left: 20px;
        }

        .text-line-through {
            text-decoration: line-through;
        }
    </style>
</head>
<body>
    <div id="app" class="uk-container uk-container-large">
        <calendar :date="calendarDate" :tasks="tasks"></calendar>
        <task-form :new-task="newTask" :edit-task="editTask"></task-form>
        <tasks-list :tasks="showTasks"></tasks-list>
    </div>

    <template id="calendarTpl">
        <calendar-selector :date="date" class="uk-margin-small"></calendar-selector>
        <div class="uk-flex uk-flex-wrap calendar">
            <div v-for="(_, i) in 7" class="calendar-item uk-text-uppercase">{{weekday(i)}}</div>
            <div v-for="day in days" class="calendar-item">
                <calendar-item :date="day" v-if="day" :tasks="taskIndex[getIndexKey(day)]"></calendar-item>
            </div>
        </div>
    </template>

    <template id="calendarSelectorTpl">
        <div class="uk-width-1-3 uk-margin-small-top">
            <a class="uk-icon-button uk-margin-small-right" uk-icon="list"></a>

            <button class="uk-margin-small-right" uk-icon="chevron-left" @click="prevMonth"></button>
            <span class="uk-text-bold uk-text-center uk-text-uppercase uk-width-1-6 uk-inline-block">{{getMonthTitle()}}</span>
            <button class="uk-margin-small-left" uk-icon="chevron-right" @click="nextMonth"></button>

            <button class="uk-margin-small-right" uk-icon="chevron-left" @click="prevYear"></button>
            <span class="uk-text-bold uk-text-center uk-text-uppercase uk-width-1-6 uk-inline-block">{{getYear()}}</span>
            <button class="uk-margin-small-left" uk-icon="chevron-right" @click="nextYear"></button>
        </div>
    </template>

    <template id="calendarItemTpl">
        <div class="uk-card uk-card-small uk-card-hover uk-margin-small-top" :class="itemClasses">
            <div class="uk-card-header">
                <div class="uk-card-title">
                    <button class="uk-icon-link" uk-icon="plus-circle" @click="addTask"></button>
                    <span class="uk-float-right uk-text-bold">{{date.getDate()}}</span>
                </div>
            </div>
            <div class="uk-card-body" v-if="tasks?.length">
                <ul class="uk-list">
                    <li v-for="task in limitTasks()">
                        <div class="uk-text-truncate">
                            <a :title="task.title" :class="getTitleClasses(task)" @click.prevent="$state.setEditTask(task)">{{task.title}}</a>
                        </div>
                    </li>
                    <li class="show-all-tasks" v-if="tasks.length > maxTasks">
                        <a class="uk-badge" @click.prevent="showTasks">{{tasks.length}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </template>

    <template id="taskFormTpl">
        <form id="task-form" uk-modal ref="form" @submit.prevent="save">
            <div class="uk-modal-dialog" uk-overflow-auto>
                <div class="uk-modal-header">
                    <h2 class="uk-modal-title" v-if="isEditMode()">Редактировать задачу</h2>
                    <h2 class="uk-modal-title" v-else>Добавить задачу</h2>
                </div>
                <div class="uk-modal-body">
                    <div class="uk-form-horizontal uk-margin-small">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="task-title">Заголовок задачи</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" id="task-title" required v-model="formModel.title">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="task-description">Описание задачи</label>
                            <div class="uk-form-controls">
                                <textarea class="uk-textarea" id="task-description" v-model="formModel.description"></textarea>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="task-date">Дата исполнения</label>
                            <div class="uk-form-controls">
                                <input type="date" class="uk-input uk-width-1-2" id="task-date" required v-model="formModel.date">
                                <input type="number" min="0" max="23" class="uk-input uk-width-1-4" required v-model="formModel.hours">
                                <input type="number" min="0" max="59" class="uk-input uk-width-1-4" required v-model="formModel.minutes">
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label">Закончена</label>
                            <div class="uk-form-controls uk-form-controls-text">
                                <label><input type="radio" class="uk-radio" name="finished" v-model="formModel.finished" :value="true"> Да</label>
                                <br>
                                <label><input type="radio" class="uk-radio" name="finished" v-model="formModel.finished" :value="false"> Нет</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="uk-modal-footer uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                    <button class="uk-button uk-button-danger" type="button" v-if="isEditMode()" @click="removeTask()">Удалить</button>
                    <button class="uk-button uk-button-primary" type="submit" :disabled="!$refs.form?.checkValidity()">Сохранить</button>
                </div>
            </div>
        </form>
    </template>

    <template id="tasksListTpl">
        <div id="tasks-list" uk-modal>
            <div class="uk-modal-dialog uk-modal-body" uk-overflow-auto>
                <h2 class="uk-modal-title">Список задач</h2>
                <ul class="uk-list uk-list-divider">
                    <li v-for="task in tasks">
                        <a @click.prevent="$state.setEditTask(task)">{{task.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </template>

    <script src="state.js"></script>
    <script src="components/tasks-list.js"></script>
    <script src="components/task-form.js"></script>
    <script src="components/calendar-selector.js"></script>
    <script src="components/calendar-item.js"></script>
    <script src="components/calendar.js"></script>
    <script src="app.js"></script>
</body>
</html>
